<%@ page contentType="text/html; charset=UTF-8" %>
<html lang="ru">
<head>
    <meta charset="UTF-8" lang="ru">
    <title>&#128007; Регистрация &#128007;</title>
</head>
<body>
<a href="/login"> Вход </a>
<form method="post" action="/registration">
    <p>
        <input type="text" name="username" id="username" placeholder="username">
    </p>
    <p>
        <input type="password" name="password1" id="password1" placeholder="Пароль">
    </p>
    <p>
        <input type="password" name="password2" id="password2" placeholder="Повторите пароль">
    </p>
    <button type="submit">Зарегистрироваться</button>
    </p>
</form>
</body>
</html>